{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "jsxSingleQuote": true
      }
    ]
  }
}
